### all files '.o', 'a.out' and '.swp' in all directories ### 
**/*.o
**/a.out
**/*.swp

### folders ###
build/
doxygen-1.8.13/
External_Libraries/
FloeCpp.xcodeproj/
io/outputs
io/stdout
io/videos
io/inputs 

### macOS ###
*.DS_Store

### OAR ###
oar_out_save/
oar_scripts/
OAR.*

### python file ###
*.pyc

### waf files ###
.lock-waf_linux2_build
.lock-waf_darwin_build
.waf*

### files related to FROGGY install ###
CIMENT.txt
env2.bash
NODE_FILE_TEST

### doxygen ###
doxygen_original.cfg
html/
latex/

### Quentin's files ###
TODO-quentin

### Matthias's files ###
MR_comments.txt
src/test_play
test_play
Untitled.ipynb
pb-simus.txt
.ipynb_checkpoints/

### Silouane's files 
results/
wscript_original
log.*
res.*
plotKinEnergy.py
replotGenerator.py

.vscode/
compile.sh
configure.sh
generatorTest.sh
getRank.py
go.sh
killCBatardDeQuickTime.scpt





### other files ###
data_simu.txt
nohup.out

#----------------#
#sftp-config.json
#*.sh
